body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* this was here */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-page h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}





.reg form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.reg label {
  margin-bottom: 5px;
  font-weight: bold;
}

.reg input,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.reg button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #0077cc;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.reg button:hover {
  background-color: #005fa3;
}

/* .dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

/* PlayerList styles */
.player-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* PlayerCard styles */
.player-card {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.player-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}


.player-card h2 {
  margin-top: 0;
}

.player-card .stats {
  margin-top: 10px;
}

.player-card .edit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0074d9;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.player-card .edit-btn:hover {
    background-color: #0d5d91;
}


.player-card .delete-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff4136;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.player-card .delete-btn:hover {
    background-color: #d40f0a;
}
/* here */
.add-player-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.add-player-modal-content {
  background-color: #ffffff;
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.add-player-modal-content h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.add-player-modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.add-player-modal-content .form-group {
  display: flex;
  flex-direction: column;
}

.add-player-modal-content label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.add-player-modal-content input,
.add-player-modal-content textarea {
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
}

.add-player-modal-content .button-group {
  display: flex;
  justify-content: space-between;
}

.add-player-modal-content .cancel-btn,
.add-player-modal-content .add-btn {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.add-player-modal-content .cancel-btn {
  background-color: #ff3333;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

.add-player-modal-content .cancel-btn:hover {
  background-color: #e60000;
}

.add-player-modal-content .add-btn {
  background-color: #00cc00;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

.add-player-modal-content .add-btn:hover {
  background-color: #00b300;
}
/* 
.search-field {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.search-field input {
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f2f2f2;
  width: 20rem;
}

.search-field button {
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #00cc00;
  color: #ffffff;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-field button:hover {
  background-color: #00b300;
}
 */
 .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search input[type="text"] {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #f2f2f2;
  width: 60%;
  margin-right: 1rem;
}

.search button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #00cc00;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search button:hover {
  background-color: #00b300;
}


/* statistic below */


.statistic-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* PlayerCard styles */
.statistic-card {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.statistic-card:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}


.statistic-card h2 {
  margin-top: 0;
}

.statistic-card .stats {
  margin-top: 10px;
}

.statistic-card .edit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #0074d9;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.statistic-card .edit-btn:hover {
    background-color: #0d5d91;
}


.statistic-card .delete-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff4136;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.statistic-card .delete-btn:hover {
    background-color: #d40f0a;
}



.add-statistic-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.add-statistic-modal .modal-content {
  background-color: #ffffff;
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.add-statistic-modal-content h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.add-statistic-modal-content label {
  display: block;
  margin-bottom: 5px;
}

.add-statistic-modal input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
}

.add-statistic-modal select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
}

.add-statistic-modal button {
  padding: 10px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.add-statistic-modal button:hover {
  background-color: #0d8ce8;
}

.add-statistic-modal .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.add-player-modal-container {
  max-height: 700px;
  overflow-y: auto;
}





.filter-container {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  margin: 20px auto;
}

.filter-container h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-container label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-container input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.filter-container button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #3e8e41;
}

